<div class="container">
    <div class="row">
        <div class="col-sm-3"><a class="btn btn-info" href="/" role="button">Go Home</a></div>
    </div>
    <button class="btn"><a href="/courses">List of all courses</a></button>
    <button class="btn"><a href="courses/registered">List of registered courses</a></button>
</div>