
<div class="wrapper" >
    <div class="Container">
          <div class="header">
              <h1>The Spark Dimond</h1>
              <p>New area / Future City</p>
             
          </div>
      </div>
  </div>