<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"><a class="btn btn-info" href="/dashboard" role="button">Go Back</a></div>
    </div>
    <%- include('../partials/message'); %>
<ul class="list-group">
<% user.course_list.forEach((course)=>{%>
    <li class="list-group-item"><%= course.coursename %></li>
<%})%>
</ul>
</div>
